body {
  background: #FAFAFA;
}

.clock-bg {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #000;
  font-size: 60px;
  letter-spacing: 7px;
  background-image: url('/img/clock-background.svg');
  background-repeat: no-repeat;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-text {
  max-width: 40%;
}