body {
  background: #FAFAFA;
}

.clock-bg {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #000;
  font-size: 40px;
  background-image: url('/img/clock-background.svg');
  background-repeat: no-repeat;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#colon { visibility:hidden }

.circular-chart {
  display: block;
  transform-origin: 50% 50%;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 360;
  }
}

.prayer-indicators {
  position: absolute;
  width: 380px;
  height: 380px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

svg.fajr > path {
  stroke: #438BB9;
}

svg.syuruk > path {
  stroke: #77C26E;
}

svg.dhuhr > path {
  stroke: #72C3A7;
}

svg.asr > path {
  stroke: #54B29D;
}

svg.maghrib > path {
  stroke: #3ECDE6;
}

svg.isha > path {
  stroke: #5BBBDB;
}

svg.bg > path {
  stroke: #E7E7E7;
}

